a:active, a:link, a:visited {
	color: #0D5798;    
}
a:hover {
	color: #8CAFCD;
}

input, textarea {
	border: 1px solid #BBBBBB;
	font-size: 10px;
	background: #F0F8FF;
	color: black;
}

input[type='submit'], input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 10px;
}

.rich-table {
    width:100%;
}

h1 {
	font-family: Arial,sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial,sans-serif;
	color: #616161;
     width: 900px
    background-color:#b0c4de;
}



.body {
	padding: 30px;
    background-color:#b0c4de;
}

.bigger {
font-size: 12px;
margin: 0px;    
color:black;
font-family:Arial,Verdana,sans-serif;
}

.columnHeader:hover
{
    color: #FF6600;
}

.message {
	border: 1px solid #FFCC00;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #F0F8FF;
	font-size: 10px;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}
.value {
	float: left;
	padding: 5px;
}
.error {
	margin-left: 20px;
	margin-top: 5px;
	float: left;
	padding: 5px;
	border: 1px solid red;
}

.errors {
	color: red;
}
.errors input {
	border: 1px solid red;
}
.errors textarea {
	border: 1px solid red;
}
.required {
	color: red;
	padding-left: 2px;
}

/* date picker style */
div.seam-date 
{
  margin-top: 5px;
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;  
  color: #505050;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

table.seam-date td {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 12px; 
}

.seam-date-monthNames
{
  width: 70px;
  border: 1px solid #dddddd;
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
  background-color: #ffffff; 
  font-size: 12px;
  cursor: pointer;	
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a.seam-date-monthNameLink, a.seam-date-monthNameLink:visited
{
  text-align: center;
  display: block;
  color: #555555;  
}

a.seam-date-monthNameLink:hover
{ 
  background-color: #CCCCCC;
  color: red;  
}

.seam-date-years
{
  height: 10em;
  overflow: auto;
  width: 60px;
  border: 1px solid #dddddd;
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
  background-color: #ffffff; 
  font-size: 12px;
  cursor: pointer;	
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a.seam-date-yearLink, a.seam-date-yearLink:visited
{
  text-align: center;
  display: block;
  color: #555555;    
}

a.seam-date-yearLink:hover
{
  background-color: #CCCCCC;
  color: red;    
}  

tr.seam-date-header
{
  padding: 2px 0px 2px 0px;
}
  
td.seam-date-header
{
  padding: 0px 8px 0px 8px;
  text-align: center;
  color: gray;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;  
}

td.seam-date-header-prevMonth
{
  background-image: url("../img/cal-prev.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 2px 0px 2px;
  width: 17px;
  height: 16px;
  margin-left: 2px;
}

td.seam-date-header-nextMonth
{
  background-image: url("../img/cal-next.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 2px 0px 2px;
  width: 17px;
  height: 16px;
  margin-right: 2px;
}

tr.seam-date-headerDays
{
  color: white;
  font-weight: normal;
}

tr.seam-date-headerDays > td
{
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
  color: white;
  text-align: center;
  width: 26px;   
}

tr.seam-date-footer
{
  background-color: white; 
  color: #505050;
  font-weight: bold;
}

tr.seam-date-footer > td
{
  text-align: center;
}

td.seam-date-inMonth
{
  background-color: white; 
  color: black;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-outMonth
{
  background-color: white; 
  color: #999999;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-selected
{
  background-color: #CCCCCC;        
  border: 1px solid #AAAAAA; 
  color: black;
  font-weight: normal;
}

td.seam-date-dayOff-inMonth
{
  background-color: #efefef;
  color: black;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-dayOff-outMonth
{
  background-color: #efefef;
  color: #999999;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-hover 
{
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
  cursor: pointer;
  color: red;
}

#page-changeback { position: relative. width: 1000px; margin: 0 auto;}


#page-content {
    background: url('#{facesContext.externalContext.requestContextPath}/img/Generate16.png') 0 0 repeat-y;
    height: 100%;
    min-height: 520px;
    padding: 13px 20px 5px;
}

#page-content .left-menu {
    float: left;
    margin-right: 10px;
    min-height: 450px;
    width: 80px;
}


#page-content .content-container {
    float: left;
    width: 700px;
    height:1000px
}

#page-content .right-menu {
    float: left;
    margin-left: 10px;
    min-height: 450px;
    width: 80px;
}


#page-content .content-container fieldset.example-cnt {
    background: #ffff00;
    border: 1px solid #dddddd;
    border-top: 0;
    margin: 0;
    min-height: 470px;
    padding: 15px 20px 10px;
}
#header .logo {
    float: left;
    margin-left: 7px;
    text-decoration: none;
}

#header .logo img {
    border: none;
    max-height:80px;
}

.captchaBox { width:350px; height:80px; cursor:arrow; border-width:2px; text-align:center; display: table-cell; vertical-align: middle; background: #ffffff; }

a.hdrLink:visited { color:#2F4F4F; }
a.hdrLink { font:12px tahoma,verdana,arial; text-decoration:none; color:#000000; }
